.markdown p {
    text-align: justify;
    width: 75%;
    margin: 0 auto;
}

.bagde {
    display: initial!important;
    margin: auto!important
}

.impressum p {
    text-align: left;
    margin: auto;
    width:100%;
}